body{
    margin: 0px;
}
.app{
    margin: 0 50px;
}
h1{
    text-align: center;
    font-family: 楷体;
}
.xiazai{
    margin: 15px;
    background-color: rgb(131, 131, 231);
    height: 65px;
    width: 310px;
    border-radius:10px;
}
.xaizai:hover{
    background-color: rgb(87, 87, 131);
}